# Core ML & Data Science
pandas
numpy
scikit-Learn
scipy

# Visualization
matplotlib
seaborn
# MLflow & Tracking
mlflow
protobuf

# Database
pymysql
sqlalchemy

# Workflow Management
prefect

# Model Saving
joblib
pickle5

# GUI
tk

# Imbalanced Learning
imbalanced-learn

# Advanced Models (Optional but recommended)
xgboost
lightgbm
# Utilities
python-dotenv
tqdm